
<div class="container">
     <div class="to-do-list">

       <!-- <app-to-do (deleteTodo) = "onDeleteTodo($event)"  [todo] = "todos[0]" ></app-to-do>
       <app-to-do  (deleteTodo) = "onDeleteTodo($event)"  [todo] = "todos[1]" ></app-to-do> -->

             <input type="text" placeholder="todo title" [(ngModel)]= "newTodoTitle" >
             <input type="text" placeholder="todo description" [(ngModel)]= "newTodoDescription" >
             <button class="btn-add" (click) = "addTodo()">Add Todo</button>
            <app-to-do *ngFor = "let todoFromArray of todos" [todo] = "todoFromArray" (deleted) = "onDeletedTodo($event)" (completedTodo) = "onCompletedTodo($event)" ></app-to-do>
    </div>
    
    

</div>

<form  class="app-form"  (ngSubmit) = "submitUserForm(userForm)" #userForm = "ngForm" >

  <input type="text"    name="title"  ngModel   > 
  <input type="text"    name="description" ngModel  >
  <button type="submit">ADD</button>
 
     
</form>




